:root {
    --text-color: rgb(50,50,50);
    --badge-size: 200px;
    --badge-margin: 20px;
    --badge-expand: 10px;
    /* Calculate some values  */
    --badge-space: calc(var(--badge-size) + 2*var(--badge-margin))
  }

body {
    background: rgb(250,250,255);
}

#top-banner {
    width: calc(5*100vw/6);
    height: calc(100vw/6);
    min-width: calc(2*var(--badge-space));
    min-height: calc(2*var(--badge-space)/5);
    --top-banner-max: 700px;
    max-width: var(--top-banner-max);
    max-height: calc(var(--top-banner-max)/5);
    margin: 10px auto 30px;
    background-image: url(./media/hvc-text-only-wide.svg);
    border-bottom: dimgray 1px solid;
}

#stories {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(3*var(--badge-space) + 1px);
}
@media (max-width: 800px) {
    #stories {
        width: calc(2*var(--badge-space))
    }
}

.story-badge {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px dimgray solid;
    box-sizing: border-box;
    transition: all 200ms;
    text-decoration: none;
}

.story-badge:hover {
    width: 220px;
    height: 220px;
    margin: 10px;
}

.story-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.story-name {
    font-family: sans-serif;
    position: relative;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    transition: all 200ms;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.story-name .spacer {
    flex: 1;
}

.story-name:hover {
    background-color: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, .9);
    padding: 10px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

/* Custom styles for "The Last God Of Darkness" */
#tlgotd .story-image {
    background-image: url(./media/jaguar-head.svg);
    background-size: cover;
    background-color: black;
}

#tlgotd .story-name {
    font-size: 40px;
}

/* Custom styles for "Three Visions of Artificial Apocalypse" */
#three-ai .story-image {
    background-image: url(./media/three-ai.svg);
    background-size: cover;
    background-color: gray;
}

#three-ai .story-name {
    font-size: 100px;
    font-family: monospace;
}

/* Custom styles for "Edward's Kitten" */
#edwards-kitten .story-image {
    background-image: url(./media/edward.jpg);
    background-size: cover;
    background-color: gray;
}

#edwards-kitten .story-name {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}