:root {
    --text-color: rgb(50,50,50);
  }

body {
    background: rgb(250,250,255);
}

#top-banner {
    width: calc(5*100vw/6);
    height: calc(100vw/6);
    margin: 10px auto 30px;
    background-image: url(./media/hvc-text-only-wide.svg);
}

h1 {
    font-weight: bold;
    font-family: sans-serif;
    color: var(--text-color);
    width: 100%;
    border-bottom: dimgray 4px solid;
    margin-bottom: 0;
}

.stories {
    width: 80%;
    min-width: 300px;
    margin: auto;
    border-top: dimgray 4px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.story-badge {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: all 200ms;
    border: 2px solid dimgray;
    text-decoration: none;
}

.story-badge:hover {
    width: 220px;
    height: 220px;
    margin: 10px;
}

.story-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.story-name {
    font-size: 40px;
    font-family: sans-serif;
    position: relative;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    transition: all 200ms;
}

.story-name:hover {
    background-color: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, .9);
    padding: 10px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

/* Custom styles for "The Last God Of Darkness" */
.tlgotd.story-image {
    background-image: url(./media/jaguar-head.svg);
    background-size: cover;
    background-color: black;
}

/* Custom styles for "Three Visions of Artificial Apocalypse" */
.three-ai.story-image {
    background-image: url(./media/three-ai.svg);
    background-size: cover;
    background-color: gray;
}

.three-ai.story-name {
    font-size: 35px;
}